In [3]:
# 1. x=[1,2,3,4],Multiply this list with 2.
x=[1,2,3,4]*2
print(x)

[1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
#2.  y=[5,6,7,8,4],add above x in y.
y=[5,6,7,8,4]
x.append(y)
print(x)

[1, 2, 3, 4, 1, 2, 3, 4, [5, 6, 7, 8, 4], [5, 6, 7, 8, 4], [5, 6, 7, 8, 4], [5, 6, 7, 8, 4]]

In [9]:
#3.  remove all elements from your list myself
myself=[1,2,3,4,5,6]
myself.clear()
print(myself)

[]

In [35]:
#4. return the length of the list below: z=[1,2,3,4,5,,4,3,2,1,4,64,3]
Z=[1,2,3,4,5,54,3,2,1,4,64,3]
print(len(Z))

12

In [36]:
#5. sort the Z list above into descending order
Z.sort(reverse=True)
print(Z)

[64, 54, 5, 4, 4, 3, 3, 3, 2, 2, 1, 1]

In [37]:
#6. insert a value as 12345 in the list below at a specific index 5.
#[hint: use index()]
#Z=[1,2,3,4,5,54,3,2,1,4,64,3]
Z.insert(5,'123345')
print(Z)

[64, 54, 5, 4, 4, '123345', 3, 3, 3, 2, 2, 1, 1]

In [38]:
#7. Z=[[123],[2,5,54],[3,2,1],[4,64,3]]
#get the first element out of the above list into a list only.
Z=[[123],[2,5,54],[3,2,1],[4,64,3]]
print(Z[0])

[123]

In [48]:
#8. Z=[1,2,3,4,5,54,3,2,1,4,64,3] remove duplicates in the above list.
Z=[1,2,3,4,5,54,3,2,1,4,64,3]
print(tuple(Z))
Z=list(dict.fromkeys(Z))
print(Z)

(1, 2, 3, 4, 5, 54, 3, 2, 1, 4, 64, 3)
[1, 2, 3, 4, 5, 54, 64]

In [53]:
#9. find the intersectin between two list below:
#x=[1,2,3,4]
#y=[5,6,7,8,4]
x=[1,2,3,4]
y=[5,6,7,8,4]
set(x).intersection(y)

{4}

In [56]:
#10. return every 3rd element in the below list between values.
#z=[1,2,3,4,5,54,3,2,1,4,64,3]
z=[1,2,3,4,5,54,3,2,1,4,64,3]
print(z[0:11:3])

[1, 4, 3, 4]

In [69]:
#11. use built-in round function to get fixed number of decimal places.
#1.23743 ------ make it 1.24
#-1.243225 ----- make it -1.243
#1627731 ------ make it 1628000
print(round(1.23743,2))
print(round(-1.243225,3))
print(round(1627731,-3))

1.24
-1.243
1628000

In [86]:
#12. use built-in format function to round with formatting a value.
#x=1.234567 ------ into 1.23
#y=2.1234567 ----- into 2.12345
x=1.234567 
y=2.1234567 
print(format(x, '.2f'))
print(format(y, '.5f'))

1.23
2.12346

In [95]:
# working with binary.octal and hexadecimal in python
#to convert an intergerr into a binary,octal, or hexadecimal text string ,use the
# bin(),oct(),or hex() frunctions,respectively.
#13. convert below values into binary values,octal values,and hexadecimal values:
#x=1234   y=15    z=100
x=1234
y=15
z=100
bin_x=bin(x)
print(bin_x)
oct_x=oct(x)
print(oct_x)
hex_x=hex(x)
print(hex_x)

0b10011010010
0o2322
0x4d2

In [1]:
#14.  convert below values into numerical values by using int() function by
# assigning appropriate weight:
# '4d2' with Base 16 (hexadecimal)
# '10011010010' with Base 2(Binary)
s='4d2'
i=int(s,16)
print(str(i))
t='10011010010'
i=int(t,2)
print(str(i))

1234
1234

In [122]:
s='4d2'
i=int(s,16)
print(str(i))
t='10011010010'
i=int(t,2)
print(str(i))

1234
1234

In [115]:
t='10011010010'
i=int(t,2)
str(i)

'1234'

In [113]:
format(1234,'x')

'4d2'

In [120]:
int("0xff",16)

255